<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../static/js/ability.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="btn-group col-md-2">
    <select class="form-control" id="ability_method_select">
        <option class="dropdown-item" id='standard_method'>Standard Method</option>
        <option class="dropdown-item" id='rolling_method'>Rolling Stats</option>
    </select>
</div>
<table class="table table-bordered" id="table" style="margin-top: 2.5%">
    <thead>
    <tr>
        <th scope="col">Ability Scores</th>
        <th scope="col">Strength</th>
        <th scope="col">Dexterity</th>
        <th scope="col">Constitution</th>
        <th scope="col">Intelligence</th>
        <th scope="col">Wisdom</th>
        <th scope="col">Charisma</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Base Score</th>
        <td>
            <input type="number" class="form-control" id="strength"
                   placeholder="" value="10" required></td>
        <td>
            <input type="number" class="form-control" id="dexterity"
                   placeholder="" value="10" required></td>
        <td>
            <input type="number" class="form-control" id="constitution"
                   placeholder="" value="10" required></td>
        <td>
            <input type="number" class="form-control" id="intelligence"
                   placeholder="" value="10" required></td>
        <td>
            <input type="number" class="form-control" id="wisdom"
                   placeholder="" value="10" required></td>
        <td>
            <input type="number" class="form-control" id="charisma"
                   placeholder="" value="10" required></td>
    </tr>
    <tr bgcolor="#f2f2f2">
        <th scope="row">Ancestry Modifier</th>
        <td id="str_ances_mod">0</td>
        <td id="dex_ances_mod">0</td>
        <td id="con_ances_mod">0</td>
        <td id="int_ances_mod">0</td>
        <td id="wis_ances_mod">0</td>
        <td id="cha_ances_mod">0</td>
    </tr>
    <tr bgcolor="#f2f2f2">
        <th scope="row">Background Modifier</th>
        <td id="str_background_mod">0</td>
        <td id="dex_background_mod">0</td>
        <td id="con_background_mod">0</td>
        <td id="int_background_mod">0</td>
        <td id="wis_background_mod">0</td>
        <td id="cha_background_mod">0</td>
    </tr>
    <tr bgcolor="#f2f2f2">
        <th scope="row">Ability Modifier</th>
        <td id="str_mod">0</td>
        <td id="dex_mod">0</td>
        <td id="con_mod">0</td>
        <td id="int_mod">0</td>
        <td id="wis_mod">0</td>
        <td id="cha_mod">0</td>
    </tr>
    <tr bgcolor="#f2f2f2">
        <th scope="row">Free</th>
        <td style="text-align: center"><input type="checkbox" class="form-check-input" id="str_free"></td>
        <td style="text-align: center"><input type="checkbox" class="form-check-input" id="dex_free"></td>
        <td style="text-align: center"><input type="checkbox" class="form-check-input" id="con_free"></td>
        <td style="text-align: center"><input type="checkbox" class="form-check-input" id="int_free"></td>
        <td style="text-align: center"><input type="checkbox" class="form-check-input" id="wis_free"></td>
        <td style="text-align: center"><input type="checkbox" class="form-check-input" id="cha_free"></td>
    </tr>
    <tr>
        <th scope="row" id="ab_result">Result Score</th>
        <td id="str_result">0</td>
        <td id="dex_result">0</td>
        <td id="con_result">0</td>
        <td id="int_result">0</td>
        <td id="wis_result">0</td>
        <td id="cha_result">0</td>
    </tr>
    </tbody>
</table>
</body>
</html>
