<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/js/ancestry.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="row">
    <div class="btn-group col-md-2">
        <select class="form-control" id="ancestry_select" onchange="changeAncestry()">
            <option class="dropdown-item">Select a class</option>
            {% for ancestry in data %}
            <option class="dropdown-item" id={{ancestry.name}}>{{ ancestry.name }}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div id="chosen_ancestry" class="col-md-5">
        <table class="table table-bordered" id="stat_table" style="table-layout:fixed">
            <tbody>
            <tr>
                <th scope="row">Hit Points</th>
                <td id="stat_table_hp"></td>
            </tr>
            <tr>
                <th scope="row">Size</th>
                <td id="stat_table_size"></td>
            </tr>
            <tr>
                <th scope="row">Speed</th>
                <td id="stat_table_speed"></td>
            </tr>
            <tr>
                <th scope="row">Ability Boosts</th>
                <td id="stat_table_ab"></td>
            </tr>
            <tr>
                <th scope="row">Ability Flaw</th>
                <td id="stat_table_af"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
function changeAncestry(){
   var sel_ancestry = document.getElementById('ancestry_select').value;
   var obj = {{ data | tojson | safe }};
   var index = obj.map(function(e) { return e.name; }).indexOf(sel_ancestry);
   switchAncestry(sel_ancestry, obj, index);
};
</script>
</body>
</html>