<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="../static/js/background.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="row">
    <div class="btn-group col-md-2">
        <select class="form-control" id="background_select" onchange="changeBackground()">
            <option class="dropdown-item">Select a background</option>
            {% for background in data %}
            <option class="dropdown-item" id={{background.name}}>{{ background.name }}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div id="chosen_background" class="col-md-5">
        <table class="table table-bordered" id="background_table" style="table-layout:fixed">
            <tbody>
            <tr>
                <th scope="row">Description</th>
                <td id="background_table_desc"></td>
            </tr>
            <tr>
                <th scope="row">Ability Boosts</th>
                <td id="background_table_ab_boosts"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
function changeBackground(){
   var sel_background = document.getElementById('background_select').value;
   var obj = {{ data | tojson | safe }};
   var index = obj.map(function(e) { return e.name; }).indexOf(sel_background);
   switch (sel_background) {
  case "Acolyte":
    changeBackgroundTable(obj, index);
    break;
  case "Select a background":
    document.getElementById("background_table_desc").innerHTML = "";
    document.getElementById("background_table_ab_boosts").innerHTML = "";
    break;
}};
</script>
</body>
</html>