<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="row">
    <div class="btn-group col-md-2">
        <select class="form-control" id="background_select" onchange="changeBackground()">
            <option class="dropdown-item">Select a background</option>
            {% for background in data %}
            <option class="dropdown-item" id={{background.name}}>{{ background.name }}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div id="chosen_background" class="col-md-5">
        <table class="table table-bordered" id="background_table" style="table-layout:fixed">
            <tbody>
            <tr>
                <th scope="row">Description</th>
                <td id="background_table_desc"></td>
            </tr>
            <tr>
                <th scope="row">Ability Boosts</th>
                <td id="background_table_ab_boosts">
                    <select class="form-control" id="background_boost_select" style="margin-top: 2.5%"
                            onchange="changeBackgroundBoostSelect(this)">
                        <option class="dropdown-item">Select a boost</option>
                    </select>
                    <div id="background_table_ab_boosts1" style="margin-top:5%"></div>
                    <select class="form-control" id="background_boost_select_free" style="margin-top: 2.5%"
                            onchange="changeBackgroundBoostSelectFree(this)">
                        <option class="dropdown-item">Select a free boost</option>
                        <option class="dropdown-item" id="str_background_boost_free">Strength</option>
                        <option class="dropdown-item" id="dex_background_boost_free">Dexterity</option>
                        <option class="dropdown-item" id="con_background_boost_free">Constitution</option>
                        <option class="dropdown-item" id="int_background_boost_free">Intelligence</option>
                        <option class="dropdown-item" id="wis_background_boost_free">Wisdom</option>
                        <option class="dropdown-item" id="cha_background_boost_free">Charisma</option>
                    </select>

                </td>
            </tr>
            <tr>
                <th scope="row">Source</th>
                <td id="background_table_source"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script src="../static/js/background.js" async></script>
<script type="text/javascript">
function changeBackground(){
   var sel_background = document.getElementById('background_select').value;
   var obj = {{ data | tojson | safe }};
   var index = obj.map(function(e) { return e.name; }).indexOf(sel_background);
   switchBackground(sel_background, obj, index);
};

</script>
</html>