<select class="form-control" id="background_boost_select" style="margin-top: 2.5%" onchange="changeBackgroundBoostSelect()">
    <option class="dropdown-item">Select a boost</option>
</select>
<div id="background_table_ab_boosts1" style="margin-top:5%"></div>
<select class="form-control" id="background_boost_select_free" style="margin-top: 2.5%" onchange="changeBackgroundBoostSelectFree()">
    <option class="dropdown-item">Select a free boost</option>
    <option class="dropdown-item" id="str_background_boost_free">Strength</option>
    <option class="dropdown-item" id="dex_background_boost_free">Dexterity</option>
    <option class="dropdown-item" id="con_background_boost_free">Constitution</option>
    <option class="dropdown-item" id="int_background_boost_free">Intelligence</option>
    <option class="dropdown-item" id="wis_background_boost_free">Wisdom</option>
    <option class="dropdown-item" id="cha_background_boost_free">Charisma</option>
</select>