<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/js/ancestry.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="row">
    <div class="form-group col-md-4">
        <label for="character_name"><b>Character Name</b></label>
        <input type="text" class="form-control" id="character_name">
        <br>
        <label for="player_name"><b>Player Name</b></label>
        <input type="text" class="form-control" id="player_name">
        <br>
        <label for="ethnicity"><b>Ethnicity</b></label>
        <input type="text" class="form-control" id="ethnicity">
        <br>
        <label for="nationality"><b>Nationality</b></label>
        <input type="text" class="form-control" id="nationality">
        <br>
        <label for="birthplace"><b>Birthplace</b></label>
        <input type="text" class="form-control" id="birthplace">
        <br>
        <label for="age"><b>Age</b></label>
        <input type="number" class="form-control" id="age">
        <br>
        <label for="gender"><b>Gender</b></label>
        <input type="text" class="form-control" id="gender">
        <br>
        <label for="height"><b>Height</b></label>
        <input type="text" class="form-control" id="height">
        <br>
        <label for="weight"><b>Weight</b></label>
        <input type="text" class="form-control" id="weight">
        <br>
        <label for="appearance"><b>Appearance</b></label>
        <textarea class="form-control" id="appearance"></textarea>
        <br>
    </div>
    <div class="form-group col-md-4">
        <label for="attitude"><b>Attitude</b></label>
        <textarea class="form-control" id="attitude"></textarea>
        <br>
        <label for="beliefs"><b>Beliefs</b></label>
        <textarea class="form-control" id="beliefs"></textarea>
        <br>
        <label for="likes"><b>Likes</b></label>
        <textarea class="form-control" id="likes"></textarea>
        <br>
        <label for="dislikes"><b>Dislikes</b></label>
        <textarea class="form-control" id="dislikes"></textarea>
        <br>
        <label for="catchphrases"><b>Catchphrases</b></label>
        <textarea class="form-control" id="catchphrases"></textarea>
        <br>
    </div>
</div>
</body>
</html>