<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/feat.js"></script>


<div class="col-md-6">
    <input class="form-control" id="featInput" type="text" placeholder="Filter">
    <br>
    {% for featTypes in data %}
    <div id="accordion-{{featTypes}}">
        <div class="card">
            <div class="card-header" id="heading-{{featTypes}}">
                <h5 class="mb-0">
                    <a role="button" data-toggle="collapse" href="#collapse-{{featTypes}}" aria-expanded="true"
                       aria-controls="collapse-{{featTypes}}">
                        {{featTypes}}
                    </a>
                </h5>
            </div>
            <div id="collapse-{{featTypes}}" class="collapse show" data-parent="#accordion-{{featTypes}}"
                 aria-labelledby="heading-{{featTypes}}">
                <div class="card-body">
                    {% for innerFeat in data[featTypes] %}
                    <div id="accordion-{{innerFeat}}">
                        <div class="card">
                            <div class="card-header" id="heading-{{featTypes}}-{{innerFeat}}">
                                <h5 class="mb-0">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       href="#collapse-{{featTypes}}-{{innerFeat}}"
                                       aria-expanded="false" aria-controls="collapse-{{featTypes}}-{{innerFeat}}">
                                        {{innerFeat}}
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse-{{featTypes}}-{{innerFeat}}" class="collapse"
                                 data-parent="#accordion-{{innerFeat}}"
                                 aria-labelledby="heading-{{featTypes}}-{{innerFeat}}">
                                <div class="card-body">
                                    {% for feat in data[featTypes][innerFeat] %}
                                    <div id="accordion-{{featTypes}}-{{innerFeat}}">
                                        <div class="card">
                                            <div class="card-header"
                                                 id="heading-{{featTypes}}-{{innerFeat}}-{{loop.index}}">
                                                <h5 class="mb-0">
                                                    <a class="collapsed" role="button" data-toggle="collapse"
                                                       href="#collapse-{{featTypes}}-{{innerFeat}}-{{loop.index}}"
                                                       aria-expanded="false"
                                                       aria-controls="collapse-{{featTypes}}-{{innerFeat}}-{{feat.index}}">
                                                        {{feat.name}}
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse-{{featTypes}}-{{innerFeat}}-{{loop.index}}"
                                                 class="collapse" data-parent="#accordion-{{featTypes}}-{{innerFeat}}"
                                                 aria-labelledby="heading-{{featTypes}}-{{innerFeat}}-{{loop.index}}">
                                                <div class="card-body">
                                                    <b>Level:</b> {{feat.level}} <br>
                                                    <b>Prerequisites:</b> {{feat.prerequisites}} <br>
                                                    <b>Benefits:</b> {{feat.benefits}} <br>
                                                    <div style="padding-top: 2%">
                                                        {{feat.text}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
