<script src="../static/js/feat.js"></script>


<div class="col-md-6">
    <label for="featInput"></label>
    <input class="form-control" id="featInput" type="text" placeholder="Filter">
    <br>

    <!--Accordion wrapper-->
    <div class="accordion md-accordion" id="feat_list" role="tablist" aria-multiselectable="true">
        {% for featTypes in data %}
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="feat{{loop.index}}">
                <a class="collapsed" data-toggle="collapse" data-parent="#feat_list" href="#feat_card{{loop.index}}"
                   aria-expanded="false" aria-controls="feat_card{{loop.index}}">
                    <h5 class="mb-0">
                        {{featTypes}}
                        <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                </a>
            </div>
            <!-- Card body -->
            <div id="feat_card{{loop.index}}" class="collapse" role="tabpanel" aria-labelledby="feat{{loop.index}}"
                 data-parent="#feat_list">
                <div class="card-body">
                    <div class="accordion md-accordion" id="feat_list_{{featTypes}}" role="tablist"
                         aria-multiselectable="true">
                        {% for innerFeat in data[featTypes] %}
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="feat{{innerFeat}}">
                                <a class="collapsed" data-toggle="collapse" data-parent="#feat_list_{{featTypes}}"
                                   href="#feat_card{{innerFeat}}"
                                   aria-expanded="false" aria-controls="feat_card{{innerFeat}}">
                                    <h5 class="mb-0">
                                        {{innerFeat}}
                                        <i class="fas fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>
                            <!-- Card body -->
                            <div id="feat_card{{innerFeat}}" class="collapse" role="tabpanel"
                                 aria-labelledby="feat{{innerFeat}}"
                                 data-parent="#feat_list_{{featTypes}}">
                                <div class="card-body">
                                    <div class="accordion md-accordion" id="feat_list_{{innerFeat}}" role="tablist"
                                         aria-multiselectable="true">
                                        {% for feat in data[featTypes][innerFeat] %}
                                        <div class="card">
                                            <!-- Card header -->
                                            <div class="card-header" role="tab" id="{{feat.name}}{{loop.index}}">
                                                <a class="collapsed" data-toggle="collapse"
                                                   data-parent="#feat_list_{{innerFeat}}"
                                                   href="#feat_card{{innerFeat}}{{loop.index}}"
                                                   aria-expanded="false"
                                                   aria-controls="feat_card{{innerFeat}}{{loop.index}}">
                                                    <h5 class="mb-0">
                                                        {{feat.name}}
                                                        <i class="fas fa-angle-down rotate-icon"></i>
                                                    </h5>
                                                </a>
                                            </div>
                                            <!-- Card body -->
                                            <div id="feat_card{{innerFeat}}{{loop.index}}" class="collapse"
                                                 role="tabpanel" aria-labelledby="feat{{innerFeat}}{{loop.index}}"
                                                 data-parent="#feat_list_{{innerFeat}}">
                                                <div class="card-body">
                                                    <b>Level:</b> {{feat.level}} <br>
                                                    <b>Prerequisites:</b> {{feat.prerequisites}} <br>
                                                    <b>Benefits:</b> {{feat.benefits}} <br>
                                                    <div style="padding-top: 2%">
                                                        {{feat.text}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>