<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Pathfinder 2e Character Editor</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">

    <!-- In order to load the subpages -->
    <script src="../static/js/jquery-1.9.1.min.js"></script>
    <script src="../static/js/build_character.js"></script>
    <script>
    $(function(){
      $("#ability_subpage").load("/ability");
      $("#ancestry_subpage").load("/ancestry");
      $("#description_subpage").load("/description");
      $("#background_subpage").load("/background");
      $("#spells_subpage").load("/spells");
      $("#feats_subpage").load("/feats");
    });

    </script>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Pathfinder 2e Editor</div>
        <div class="list-group list-group-flush">
            <a class="tablinks list-group-item list-group-item-action bg-light" onclick="openTab(event, 'Dashboard')"
               id="defaultOpen">Dashboard</a>
            <a class="tablinks list-group-item list-group-item-action bg-light"
               onclick="openTab(event, 'Description')">Description</a>
            <a class="tablinks list-group-item list-group-item-action bg-light"
               onclick="openTab(event, 'Ability_Scores')">Ability Scores</a>
            <a class="list-group-item list-group-item-action bg-light" onclick="openTab(event, 'Ancestry')">Ancestry</a>
            <a class="list-group-item list-group-item-action bg-light"
               onclick="openTab(event, 'Background')">Background</a>
            <a class="list-group-item list-group-item-action bg-light" onclick="openTab(event, 'Class_and_Level')">Class
                and Level</a>
            <a class="list-group-item list-group-item-action bg-light"
               onclick="openTab(event, 'Equipment')">Equipment</a>
            <a class="list-group-item list-group-item-action bg-light" onclick="openTab(event, 'Feats')">Feats</a>
            <a class="list-group-item list-group-item-action bg-light" onclick="openTab(event, 'Spells')">Spells</a>
            <button class="btn btn-primary mx-3" id="build_character" onclick="build_character()" style="margin-top:10px">Build</button>
        </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Tabs Content -->
        <div class="container-fluid">
            <!-- Dashboard Content -->
            <div id="Dashboard" class="tabcontent">
                <div class="row">
                    <h1 class="mx-3">Your Character</h1>
                </div>
                <iframe src="../static/characters/Standard_Character_Sheet.pdf" width="100%" height="800px">
                </iframe>
            </div>
            <form>
                 <!-- Description Content -->
                <div id="Description" class="tabcontent">
                    <div class="row">
                        <h1 class="mx-3">Description</h1>
                    </div>
                    <div id="description_subpage"></div>
                </div>
                <!-- Ability Scores Content -->
                <div id="Ability_Scores" class="tabcontent">
                    <div class="row">
                        <h1 class="mx-3">Ability Scores</h1>
                    </div>
                    <div id="ability_subpage"></div>
                </div>
                <!-- Ancestry Content -->
                <div id="Ancestry" class="tabcontent">
                    <div class="row">
                        <h1 class="mx-3">Ancestry</h1>
                    </div>
                    <div id="ancestry_subpage"></div>
                </div>
                <!-- Background Content -->
                <div id="Background" class="tabcontent">
                    <div class="row">
                        <h1 class="mx-3">Background</h1>
                    </div>
                    <div id="background_subpage"></div>
                </div>
                <!-- Class and Level Content -->
                <div id="Class_and_Level" class="tabcontent">
                    <div class="row">
                        <h1 class="mx-3">Class and Level</h1>
                    </div>
                    <div id="class_and_level_box"></div>
                </div>
                <!-- Equipment Content -->
                <div id="Equipment" class="tabcontent">
                    <div class="row">
                        <h1 class="mx-3">Equipment</h1>
                    </div>
                    <div id="equipment_box"></div>
                </div>
                <!-- Feats Content -->
                <div id="Feats" class="tabcontent">
                    <div class="row">
                        <h1 class="mx-3">Feats</h1>
                    </div>
                    <div id="feats_subpage"></div>
                </div>
                <!-- Spells Content -->
                <div id="Spells" class="tabcontent">
                    <div class="row">
                        <h1 class="mx-3">Spells</h1>
                    </div>
                    <div id="spells_subpage"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


<!-- Menu Toggle Script -->
<script>
function openTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
  if(tabName == "Ability_Scores"){
    update_ability_table()
  }
}
document.getElementById("defaultOpen").click();


</script>
</body>
</html>
