<div class="col-md-4">
    <!--Accordion wrapper-->
    <div class="accordion md-accordion" id="spell_list" role="tablist" aria-multiselectable="true">
        {% for spell in data %}
        <!-- Accordion card -->
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="spell{{loop.index}}">
                <a class="collapsed" data-toggle="collapse" data-parent="#spell_list" href="#spell_card{{loop.index}}"
                   aria-expanded="false" aria-controls="spell_card{{loop.index}}">
                    <h5 class="mb-0">
                        {{spell.name}} <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                </a>
            </div>

            <!-- Card body -->
            <div id="spell_card{{loop.index}}" class="collapse" role="tabpanel" aria-labelledby="spell{{loop.index}}"
                 data-parent="#spell_list">
                <div class="card-body">
                    {{spell.text}}
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Accordion card -->
    </div>
    <!-- Accordion wrapper -->
</div>