<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/spell.js"></script>

<div class="col-md-6">
    <input class="form-control" id="spellInput" type="text" placeholder="Filter">
    <br>
    <!--Accordion wrapper-->
    <div class="accordion md-accordion" id="spell_list" role="tablist" aria-multiselectable="true">
        {% for spell in data %}
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="spell{{loop.index}}">
                <div>
                    <input type="checkbox" class="form-check-input" id="materialUnchecked">
                </div>
                <a class="collapsed" data-toggle="collapse" data-parent="#spell_list" href="#spell_card{{loop.index}}"
                   aria-expanded="false" aria-controls="spell_card{{loop.index}}">
                    <h5 class="mb-0">
                        {{spell.name}}
                        <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                </a>
            </div>
            <!-- Card body -->
            <div id="spell_card{{loop.index}}" class="collapse" role="tabpanel" aria-labelledby="spell{{loop.index}}"
                 data-parent="#spell_list">
                <div class="card-body">
                    <div style="padding-bottom: 2%">
                        <i>{{spell.traditions}}</i> <br>
                    </div>
                    <b>Level:</b> {{spell.level}} <br>
                    <b>Cast:</b> {{spell.cast}} <br>
                    <b>Actions:</b> {{spell.actions}} <br>
                    <b>Range:</b> {{spell.range}} <br>
                    <b>Targets:</b> {{spell.targets}} <br>
                    <div style="padding-top: 2%">
                        {{spell.text}}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>