<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/jquery.steps.css">
    <script src="../static/js/jquery-1.9.1.min.js"></script>
    <script src="../static/js/jquery.cookie-1.3.1.js"></script>
    <script src="../static/js/jquery.steps.js"></script>
    <script>
                $(function ()
                {
                    $("#wizard").steps({
                        headerTag: "h2",
                        bodyTag: "section",
                        transitionEffect: "none",
                        enableFinishButton: false,
                        enablePagination: false,
                        enableAllSteps: true,
                        titleTemplate: "#title#",
                        cssClass: "tabcontrol"
                    });
                });
    </script>
</head>
<body>
<div class="content column">
    <div id="wizard">
        <h2>First Step</h2>
        <section>
            Section 1
        </section>

        <h2>Second Step</h2>
        <section>
            Section 2
        </section>

        <h2>Third Step</h2>
        <section>
            Section 3
        </section>

        <h2>Forth Step</h2>
        <section>
            Section 4
        </section>
    </div>
</div>
</body>
</html>